<div id="board-page">
    <!--whole table-->
    <div>
        <div onclick="myFunction()" class="menu-hamburger glyphicon glyphicon-menu-hamburger dropbtn"></div>
        <div class="dropdown">
            <div id="myDropdown" class="dropdown-content">
                <div class="dropdown-element" ng-click="removeTable(getCurrentTable())">Usuń tablicę</div>
                <!--<div class="dropdown-element">About</div>-->
                <!--<div class="dropdown-element">Contact</div>-->
            </div>
        </div>
    </div>
    <input class="table-name" ng-model="getCurrentTable().name"/>

    <!--content wszystkich lists-->
    <div class="list-content"
         dnd-list="getCurrentTable().lists"
         dnd-allowed-types="['list']"
         dnd-horizontal-list="true">
        <!--lists-->
        <div ng-repeat="list in getCurrentTable().lists" class="list"
             dnd-draggable="list"
             dnd-type="'list'"
             dnd-moved="getCurrentTable().lists.splice($index, 1)"
             dnd-dragend="saveDragend(getCurrentTable())"
             dnd-effect-allowed="all">
            <input class="list-name" ng-model="list.name"/>
            <div class="remove glyphicon glyphicon-remove" ng-click="removeList(list)"></div>
            <!--content wszystkich tickets-->
            <div class="list-content"
                 dnd-list="list.tickets"
                 dnd-allowed-types="['ticket']"
                 dnd-drop="dropTicketCallback(item, $index)">
                <!--tickets-->
                <div ng-repeat="ticket in list.tickets" class="ticket"
                     dnd-draggable="ticket"
                     dnd-type="'ticket'"
                     dnd-moved="list.tickets.splice($index, 1)"
                     dnd-dragend="saveDragend(getCurrentTable())"
                     dnd-effect-allowed="all"
                     sh-context-menu menu-options="ticketMenu"
                     context-data="{table: getCurrentTable(), list, $index}">
                    <input class="ticket-title" ng-model="ticket.title"/>
                </div>
            </div>
            <button class="add-ticket" ng-click="addTicket(getCurrentTable(), $index)">
                Dodaj Zadanie
            </button>
        </div>
        <div class="add-list" ng-click="addList(getCurrentTable())">Dodaj listę...</div>
    </div>
</div>